
#apteczki {
    grid-column-start: 2;
    border: 2px solid rgb(33, 32, 32);
    width: 650px;
    position: relative;
    margin: auto;
    box-shadow: 0 14px 38px 0 rgba(255, 255, 255, 0.3);
}

.main-apteczki {
    display: grid;
    
    grid-template-columns: 1fr 650px 1fr;
}

#opis {
    text-align: center;
    transform: rotate(-4deg);
    margin-top: 30px;
    font-size: 100px;
    margin-bottom: 20px;
    text-shadow: 0 6px 6px rgba(214, 207, 5,0.9);
    color: rgb(169, 90, 21);
    font-weight: bold;
    font-family: 'Roboto';
    position: relative;
    z-index: 2;
}

#grid1 {
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr 15px;
    grid-template-rows: repeat(4, 180px);
}

#grid2 {
    display: grid;
    grid-template-columns: 15px 1fr 1fr 15px;
    grid-template-rows: 180px;
}
#grid0{
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr 1fr 15px;
    grid-template-rows: 200px;
}

.pa {
    grid-column-start: 2;
}
.pa,.pb,.pc,.pd{
    margin: auto;
    text-align: center;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9,
.p10,
.p11,
.p12,
.p13,
.p14 {
    margin: auto;
    text-align: center;
}

.p1 {
    grid-column: 2;
    grid-row: 1;
}

.p2 {
    grid-column: 3;
    grid-row: 1;
}

.p3 {
    grid-column: 4;
    grid-row: 1;
}

.p4 {
    grid-column: 2;
    grid-row: 2;
}

.p5 {
    grid-column: 3;
    grid-row: 2;
}

.p6 {
    grid-column: 4;
    grid-row: 2;
}

.p7 {
    grid-column: 2;
    grid-row: 3;
}

.p8 {
    grid-column: 3;
    grid-row: 3;
}

.p9 {
    grid-column: 4;
    grid-row: 3;
}

.p10 {
    grid-column: 2;
    grid-row: 4;
}

.p11 {
    grid-column: 3;
    grid-row: 4;
}

.p12 {
    grid-column: 4;
    grid-row: 4;
}

.p13 {
    grid-column: 2;
    grid-row: 1;
}

.p14 {
    grid-column: 3;
    grid-row: 1;
}

#grid3 {
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr 15px;
    grid-template-rows: 200px;
}

.po1 {
    grid-column-start: 2;
}

.po1,
.po2,
.po3 {
    margin: auto;
    text-align: center;
    color: white;
}

#grid4 {
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr 1fr 15px;
    grid-template-rows: 200px;
}

.poz1 {
    grid-column-start: 2;
}

.poz1,
.poz2,
.poz3,
.poz4 {
    margin: auto;
    text-align: center;
    color: white;
}

.napis {
    font-family: 'Roboto';
    color: rgb(232, 214, 109);
}

img {
    width: 110px;
}

#apteczki {
    /* background-image: linear-gradient(#303030, #000000 150%); */
    background-color: rgb(29, 28, 28,0.7);
    margin: 0 auto;
    border-radius: 20px;
}

body {
    margin: auto;
    background-image: url(./graphic/bgi.png);
    backdrop-filter: grayscale(100%) blur(2px);
    box-shadow: inset 0 45px 112px 0 rgba(255, 255, 255, 0.3);
}

#head {
    height: 170px;
    position: absolute;
    width: 100%;
    margin-left: 0;
    background-image: linear-gradient(#222222 0%, #1e1e1e 150%);
    border: 5px rgb(221, 218, 218);
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 
    inset 0 15px 22px 0 rgba(255, 255, 255, 0.3),
    0 5px 12px 0 rgba(255, 255, 255, 0.3);
}

.polecenie {
    color: rgb(229, 117, 20);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    letter-spacing: 3px;
    text-align: center;
}

input[type='radio'] {
    width: 70px;
    height: 15px;
    transition: all ease-in 0.2s;
}

#szara {
    border: 2px solid gray;
    appearance: none;
    box-shadow: 0 0 0 1px gray;
    border-radius: 50%;
    visibility: hidden;
}

#zielona {
    border: 2px solid green;
    appearance: none;
    box-shadow: 0 0 0 1px green;
    border-radius: 50%;
    visibility: hidden;
}

#zolta {
    border: 2px solid rgb(202, 202, 89);
    appearance: none;
    box-shadow: 0 0 0 1px rgb(202, 202, 89);
    border-radius: 50%;
    visibility: hidden;
}

#fioletowa {
    border: 2px solid purple;
    appearance: none;
    box-shadow: 0 0 0 1px purple;
    border-radius: 50%;
    visibility: hidden;
}

#szara:checked {
    background-color: gray;
    visibility: visible;
}

#zielona:checked {
    background-color: green;
    visibility: visible;
}

#zolta:checked {
    background-color: yellow;
    visibility: visible;
}

#fioletowa:checked {
    background-color: purple;
    visibility: visible;
}

#wynika {
    color: rgb(207, 207, 207);
    margin: 40px;
    text-align: center;
}

.zmiennak {
    color: rgb(255, 128, 0);
}

.d[type='radio'] {
    width: 15px;
    height: 15px;
    display: inline;
    word-spacing: 1px;
}